header {
    position: fixed;
    width: 100vw;
    top: 0;
    color: white;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;

}

.nav-right ul{
    display: flex;
}

.nav-right li {
    margin-left: 4rem;
    list-style: none;
    font-weight: 500;
    cursor: pointer;
}